<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classificador de Machine Learning</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <h1 style="text-align: center;">Classificador</h1>
    <button id="openModalBtn" class="open-modal-btn" onclick="openModal()">
        Informações sobre Parâmetros
      </button>

    <form action="/treinar" method="post">
    
      <label for="tipo_classificador">Escolha um classificador:</label>
      <select name="tipo_classificador" id="tipo_classificador">
        <option value="KNN">KNN</option>
        <option value="SVM">SVM</option>
        <option value="MLP">MLP</option>
        <option value="DT">Árvore de Decisão</option>
      </select>

      <label for="param1">Parâmetro 1:</label>
      <input type="text" name="param1" id="param1" />

      <label for="param2">Parâmetro 2:</label>
      <input type="text" name="param2" id="param2" />

      <button type="submit">Treinar e Testar</button>
    </form>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h1>Informações sobre Parâmetros</h1>
    
    <p>Alguns algoritmos de aprendizado de máquina possuem diferentes números de parâmetros principais.</p>

    <h2>Intervalos Típicos para Parâmetros</h2>

    <h3>K-Nearest Neighbors (KNN):</h3>
    <p>
        <strong>Parâmetro 1 (n_neighbors):</strong> Número de vizinhos a serem considerados.<br>
        <strong>Intervalo típico:</strong> 1 a 20.
    </p>

    <h3>Support Vector Machine (SVM):</h3>
    <p>
        <strong>Parâmetro 1 (C):</strong> Parâmetro de regularização.<br>
        <strong>Intervalo típico:</strong> 0.1 a 100.
    </p>

    <h3>Multilayer Perceptron (MLP):</h3>
    <p>
        <strong>Parâmetro 1 (hidden_layer_sizes):</strong> Número de neurônios em cada camada oculta.<br>
        <strong>Intervalo típico:</strong> (5, 2) a (100, 5) - Exemplo: (10, 2) significa 2 camadas ocultas com 10 e 2 neurônios, respectivamente.<br>
        <strong>Parâmetro 2 (alpha):</strong> Termo de penalização L2 (regularização).<br>
        <strong>Intervalo típico:</strong> 1e-5 a 1e-2.
    </p>

    <h3>Árvore de Decisão:</h3>
    <p>
        <strong>Parâmetro 1 (max_depth):</strong> Profundidade máxima da árvore.<br>
        <strong>Intervalo típico:</strong> 1 a 20.
    </p>
        </p>
      </div>
    </div>
  </body>
  <script>
    function openModal() {
      document.getElementById("myModal").style.display = "flex";
    }

    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }
    window.onclick = function (event) {
      var modal = document.getElementById("myModal");
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  </script>
</html>
